body {
  margin: 0;
  padding: 0;
  height: 10000px;
}
.container {
 background-color: black;
 width: 100%;
 position: fixed;
 top: 0;
}
.progress__container {
  background: red;
  height: 5px;
  width: 100%;
}
.progress__container-bar {
  background: linear-gradient(to Right, #FAD586, #D6EFC7, #96BB7C, #184D47);
  width: 0%;
  height: 4px;
}