body {
  background: rgb(67, 62, 62);
  margin: 0;
  padding: 0;
  height: 10000px;
}
.container {
 width: 100%;
 position: fixed;
 top: 5px;
}
.progress__container {
  background: rgba(249, 244, 244, 0.848);
  height: 15px;
  width: 100%; 
}
.progress__container-bar {
  background: rgb(10, 10, 167);
  width: 0%;
  height: 15px;
  border-radius: 0 5px 5px 0;
}

